body{
    text-align: center;
    background-color: #f7f7f7;
    font-family: sans-serif;
    color: #0066ff;
    text-transform: capitalize;
}

ul{
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: capitalize;
}
ul li{
    display: flex;
    list-style: none;
    text-transform: capitalize;
}

ul li div{
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 2rem;
    padding: 5px;
    border-radius: 1rem;
    background-color:  #98AFC7;
    color: #1b1b1b;
}
form{
    display: flex;
    gap: 2rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
    color: red;
}
input{
 background: transparent;
 border: none;
 border-bottom:2px solid #0066ff ;
 outline: none;
}
input::-webkit-outer-spin-button,
 input::-webkit-inner-spin-button {
   display: none;
 }

button{
    border: none;
    padding: 5px;
    color: #0066ff;
    border-radius: 5px;
    height: 2rem;
    width: 4rem;
    cursor: pointer;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    transition: all 0.5s ease-in-out;
}
button:hover{
    color: gray;
    transform: translateY(-3px);
}